{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="p-5">
        <div>
            Welcome to jameskitt616's Website<br><br>

            * Gitlab:
            <a target="_blank" href="https://gitlab.com/jameskitt616/jameskitt616-website" class="hover:underline">
                https://gitlab.com/jameskitt616/jameskitt616-website
            </a><br><br>

            <div>
                <div class="w-96 flex">
                    <div class="w-1/2">System load: 1.35</div>
                    <div class="w-1/2">Processes: 268</div>
                </div>
                <div class="w-96 flex">
                    <div class="w-1/2">Usage of /: 23.3%</div>
                    <div class="w-1/2">Users logged in: 0</div>
                </div>
                <div class="w-96 flex">
                    <div class="w-1/2">Memory usage: 47%</div>
                    <div class="w-1/2">Swap usage: 21%</div>
                </div>
            </div>
            <br>
            42 updates can be installed immediately.<br>
            0 of these updates are security updates.<br><br>

            Last login: Wed May 4 00:00:00 1977 from 127.0.0.1<br>

            <strong>help</strong> for help<br>
        </div>
        <div id="consoleWindow">
            <div id="pastInputs"></div>
            <div>
                <span class="mr-1">
                    <span class="text-green-600">satoshi@jameskitt616</span>:~$
                </span>
                <span id="input" class="pr-96" data-url="{{ path('resolve_input') }}" contentEditable="true"
                      autofocus></span>
            </div>
        </div>
    </div>
{% endblock %}
