{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5">
        <div>
            <div class="mt-24 mb-8 border rounded p-8 m-auto text-base">

                {{ form_start(form) }}

                {{ form_row(form.title, {
                    label: 'Titel:',
                    attr: {
                        'class': 'text-base border rounded-lg w-full px-4 py-2 my-4 bg-gray-400',
                    }
                }) }}

                <button type="submit" class="p-3 mt-6 rounded border hover:bg-gray-200">
                    Create
                </button>

                <a href="{{ path('blog_list') }}" class="p-3 mt-6 rounded border hover:bg-gray-200">
                    Back
                </a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
