{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-5">
        <div class="text-2xl pb-10">
            <b>{{ post.title }}</b>
            {{ post.createdAt|date('Y-m-d') }}
        </div>

    </div>
{% endblock %}
