{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-10">

        <div class="text-3xl pb-10 text-center">
            <b>jameskitt616</b>
        </div>

        <a href="{{ path('home') }}" class="text-3xl mt-6 text-gray-500 hover:text-white">
            <i class="fas fa-arrow-left"></i>
        </a>

        <div class="text-xl lg:w-2/3 2xl:w-2/5 m-auto">
            <div class="py-8">
                <div class="text-2xl underline">
                    <b>Contact:</b>
                </div>
                <div class="py-2">
                    <b>Matrix:</b>
                    <a target="_blank" href="https://matrix.to/#/@james:jameskitt616.one" class="hover:underline">
                        @james:jameskitt616.one
                    </a>
                </div>
                <div class="py-2">
                    <b>Matrix:</b>
                    <a target="_blank" href="https://matrix.to/#/@jameskitt616:fairydust.space" class="hover:underline">
                        @jameskitt616:fairydust.space
                    </a>
                </div>
                <div class="py-2">
                    <b>Discord:</b> <code>jameskitt616#6969</code>
                    (<a href="http://discord.jameskitt616.one" target="_blank"
                       class="text-gray-500 hover:text-white hover:underline">Discord Server</a>)
                </div>
                <div class="py-2">
                    <b>E-Mail:</b> <code>contact.opsec@simplelogin.com</code>
                </div>
            </div>

            <div class="py-8">
                <div class="text-2xl underline">
                    <b>Anything else:</b>
                </div>
                <div class="text-4xl">
                    <a target="_blank" class="text-gray-400 hover:text-white"
                       href="https://blockstream.info/address/bc1qg089renxfa4s2a8krdhq3m288hgvpsslxngnft">
                        <i class="fab fa-bitcoin"></i>
                    </a>
                    <a target="_blank" class="text-gray-400 hover:text-white" href="https://unsplash.com/@jameskitt616">
                        <i class="fab fa-unsplash"></i>
                    </a>
                    <a target="_blank" class="text-gray-400 hover:text-white" href="https://www.twitch.tv/jomeskitt616">
                        <i class="fab fa-twitch"></i>
                    </a>
                    <a target="_blank" class="text-gray-400 hover:text-white" href="https://github.com/jameskitt616">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
