{% extends 'base.html.twig' %}

{% block body %}
    <div class="p-10">

        <div class="text-3xl pb-10 text-center">
            <b>jameskitt616</b>
        </div>

        <a href="{{ path('home') }}" class="text-3xl mt-6 text-gray-500 hover:text-white">
            <i class="fas fa-arrow-left"></i>
        </a>

        <div class="text-xl lg:w-2/3 2xl:w-2/5 m-auto">
            <div class="py-8">
                <div class="text-2xl underline">
                    <b>Contact:</b>
                </div>
                <div class="py-2">
                    <b>Matrix:</b> <a target="_blank" href="https://matrix.to/#/@jameskitt616:fairydust.space" class="hover:underline">
                        @jameskitt616:fairydust.space
                    </a>
                </div>
                <div class="py-2">
                    <b>Discord:</b> <code>jameskitt616#6969</code> (There is also the option to join my <a
                            href="https://jameskitt616.one/discord" target="_blank"
                            class="text-gray-500 hover:text-white hover:underline">Discord</a> Server)
                </div>
            </div>

            <div class="py-8">
                <div class="text-2xl underline">
                    <b>Social Media:</b>
                </div>
                <div class="py-2">
                    <b>Twitter:</b> <a target="_blank" href="https://twitter.com/jameskitt616" class="hover:underline">
                        @jameskitt616
                    </a>
                </div>
            </div>

            <div class="py-8">
                <div class="text-2xl underline">
                    <b>Anything else:</b>
                </div>

                <div class="py-2">
                    <b>Bitcoin:</b> <a target="_blank"
                                       href="https://blockstream.info/address/bc1qg089renxfa4s2a8krdhq3m288hgvpsslxngnft"
                                       class="hover:underline">
                        bc1qg089renxfa4s2a8krdhq3m288hgvpsslxngnft
                    </a>
                </div>
                <div class="py-2">
                    <b>Unsplash:</b> <a target="_blank" href="https://unsplash.com/@jameskitt616"
                                        class="hover:underline">
                        jameskitt616
                    </a>
                </div>
                <div class="py-2">
                    <b>Twitch:</b> <a target="_blank" href="https://www.twitch.tv/jomeskitt616"
                                      class="hover:underline">
                        jomeskitt616
                    </a>
                </div>
                <div class="py-2">
                    <b>GitLab:</b> <a target="_blank" href="https://gitlab.com/jameskitt616"
                                      class="hover:underline">
                        jameskitt616
                    </a>
                </div>
                <div class="py-2">
                    <b>GitHub:</b> <a target="_blank" href="https://github.com/jameskitt616"
                                      class="hover:underline">
                        jameskitt616
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
